@import url(https://fonts.googleapis.com/css?family=PT+Mono);
@import "./red-hat-font.scss";
@include printRedHatFont(400, "Regular", $familyName: "RedHatText", $relative: false);
@include printRedHatFont(700, "Medium", $familyName: "RedHatText", $relative: false);

:root {

  --font: RedHatText, Regular;
  --inputFont: "PT Mono", Regular;

  --background: white;
  --background2: #f0f0f0;
  --background3: #404040;

  --textColor: black;

  --mainTitleFontWeight: 100;
  --mainTitleTextTransform: none;

  --primary: #646464;
  --secondary: #EB0B19;
  --tertiary: #be9100;

  --warningColor: #ff004a;
  --errorColor: #ff0048a8;

  --linkTextColor: var(--secondary);

  --readOnlyTextColor: #a8a7a7;
  --readonlyLabelAndBorderColor: #999999;

  --loaderColor: var(--primary);

  --buttonBorderColor: var(--primary);

  // Top container
  --topContainerTextColor: var(--textColor);
  --topContainerBg: var(--background2);
  --topContainerBgImage: none;
  --topContainerBgImageWide: none;

  --fieldLabelAndBorderColor: var(--primary);
  --fieldLabelAndBorderHoverColor: var(--secondary);
  --fieldTextColor: var(--topContainerTextColor);
  --selectOptionsTextColor: var(--textColor);

  --extensionsCartButtonTextColor: white;
  --extensionsCartButtonBgColor: var(--background3);

  --generateButtonTextColor: white;
  --generateButtonBgColor: var(--secondary);
  --generateButtonBorderColorOnHover: var(--secondary);
  --generateButtonDisabledBgAndBorderColor: rgba(90, 149, 235, 0.342);
  --generateButtonDisabledColor: rgba(255, 255, 255, 0.384);

  --generateButtonMoreDropdownTextColor: var(--dropdownMenuTextColor);
  --generateButtonMoreDropdownBg: var(--dropdownMenuBg);
  --resetToDefaultButtonColor: var(--warningColor);

  // Main container
  --mainContainerTextColor: var(--textColor);
  --mainContainerBg: var(--background);

  --mainContainerControlBarTextColor: black;
  --mainContainerControlBarBg: var(--background2);

  // Next steps Modal
  --modalBg: var(--background);
  --modalTextColor: var(--textColor);
  --modalBorderColor: var(--secondary);
  --modalTitleColor: var(--secondary);
  --modalLinkColor: var(--linkTextColor);

  --modalCloseButtonBg: var(--primary);
  --modalCloseButtonBgHover: var(--secondary);

  --nextStepsModalDownloadButtonBg: var(--secondary);
  --nextStepsModalDownloadButtonTextColor: white;
  --nextStepsModalDownloadButtonBorderColorOnHover: black;

  --modalFooterButtonBg: var(--background2);
  --modalFooterButtonTextColor: var(--secondary);

  --codeBg: #2b2b2b;
  --codeTextColor: white;

  // Extensions picker
  --originPlatformColor: #cd54e1;

  --extensionsPickerSearchBg: transparent;
  --extensionsPickerTextColor: var(--mainContainerTextColor);
  --extensionsPickerIdTextColor: var(--secondary);
  --extensionsPickerListBg: var(--background2);
  --extensionsPickerCheckColor: var(--mainContainerTextColor);
  --extensionsPickerCheckSelectedHoverColor: var(--mainContainerTextColor);
  --extensionsPickerCheckSelectedColor: #0F69C9;
  --extensionsPickerCheckSelectedByDefaultColor: var(--readonlyLabelAndBorderColor);
  --extensionsPickerKeyboardActivedTextColor: #0F69C9;
  --extensionsPickerRemoveButtonColor: var(--warningColor);
  --extensionsPickerRowBorderColor: var(--background);
  --extensionsPickerRowHoverBackgroundColor: var(--secondary);

  --extensionsPickerDescriptionTextColorOnTablet: #636363;

  --dropdownMenuBg: var(--background);
  --dropdownMenuShadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  --dropdownMenuTextColor: var(--textColor);

  --extensionsPickerCategoryTextColor: var(--mainContainerTextColor);
  --extensionsPickerCategoryUnderlineColor: #7f7f7f;

  --extensionsPickerSearchTextColor: var(--mainContainerTextColor);
  --extensionsPickerSearchBorderColor: black;
  --extensionsPickerSearchBorderColorOnFocus: var(--secondary);
  --extensionsPickerSearchPlaceholderColor: #363636;
  --extensionsPickerSearchClearButtonBg: #cecece;
  --extensionsPickerSearchIconColor: var(--mainContainerControlBarTextColor);
  --extensionsPickerSearchIconBg: var(--mainContainerControlBarBg);

  --selectedExtensionAlertInfoBg: #ccc;
  --selectedExtensionAlertInfoTextColor: black;
  --clearSelectedExtensionButtonBorderColor: var(--warningColor);
  --clearSelectedExtensionButtonTextColor: inherit;

  // Presets
  --presetsPanelBg: var(--background3);
  --presetsTitleTextColor: white;
  --presetsCardBorderColor: var(--background);
  --presetsCardTextColor: white;
  --presetsCardBackgroundColor: var(--background3);
  --presetsCardHoverBackgroundColor: #626262;

  //Copy to clipboard
  --copyToClipboardBackgroundColor: var(--background);
  --copyToClipboardBodyBackgroundColor: var(--background2);
  --copyToClipboardHeaderTextColor: #5f5f5f;
  --copyToClipboardBodyTextColor: var(--tertiary);

  // Header
  --headerBackgroundColor: #1A1A1A;
  --headerBackgroundImage: none;
  --headerBackgroundImageWide: none;
  --headerTextColor: white;

  --headerMenuLinkTextColor: white;

  // StreamPicker
  --streamPickerStreamIdTextColor: white;
  --streamPickerPlatformKeyTextColor: var(--secondary);
  --streamPickerBorderColor: var(--streamPickerPlatformKeyTextColor);
  --streamPickerDropdownStreamIdTextColor: black;
  --streamPickerDropdownPlatformKeyTextColor: var(--streamPickerPlatformKeyTextColor);
  --streamPickerDropdownBackgroundColor: white;
  --streamPickerDropdownCRTextColor: #505050;

  // Blurb
  --blurbBg: var(--background2);
  --blurbTextColor: var(--textColor);
  --blurbLinkTextColor: var(--linkTextColor);
  --blurbInfoIconColor: var(--primary);
}

