
.header {
    .brand {
      color: var(--headerTextColor);
      font-weight: 400;
      font-size: 1.2rem;
      a {
        color: var(--headerTextColor);
        font-weight: 600;
        display: inline-block;
      }

    }

  @media screen and (max-width: 900px) {
    .brand {
      margin-left: 10px;
      margin-right: 10px;
      font-size: 1rem;
    }
    .nav-container {
      display: none;
    }
  }

}
