@import url(https://fonts.googleapis.com/css?family=PT+Mono);
@import url(https://fonts.googleapis.com/css?family=PT+Mono);
@import "../red-hat-font.scss";
@include printRedHatFont(400, "Regular", $familyName: "RedHatText", $relative: false);
@include printRedHatFont(700, "Medium", $familyName: "RedHatText", $relative: false);

$font: RedHatText, Regular;
$inputFont: "PT Mono", Regular;

$quarkusBlue: #4B97E8;

$background: white;
$backgroundSecondary: #f0f0f0;

$primary: #646464;
$secondary: #EB0B19;

$warningColor: #ff004a;
$errorColor: #ff0048a8;

$linkTextColor: $secondary;

$readOnlyTextColor: #bdbcbc;
$readonlyLabelAndBorderColor: #707070;

// Top container
$topContainerTextColor: black;
$topContainerBg: $backgroundSecondary;
$topContainerBgImage: none;

$fieldLabelAndBorderColor: $primary; 
$fieldLabelAndBorderHoverColor: $secondary;
$fieldTextColor: $topContainerTextColor; 
$selectOptionsTextColor: black; 

$readOnlyTextColor: #a8a7a7;
$readonlyLabelAndBorderColor: #999999;

$generateButtonTextColor: white;
$generateButtonBgColor: $secondary;
$generateButtonBorderColorOnHover: black;
$generateButtonDisabledBgAndBorderColor: rgba(90, 149, 235, 0.342);
$generateButtonDisabledColor: rgba(255, 255, 255, 0.384);

// Main container
$mainContainerTextColor: black;
$mainContainerBg: $background;

$mobileWidth: 900px;
$tabletWidth: 1200px;

// Next steps Modal
$nextStepsModalBg: $backgroundSecondary;
$nextStepsModalTextColor: black;
$nextStepsModalBorderColor: $secondary;
$nextStepsModalTitleColor: $secondary;
$nextStepsModalLinkColor: $linkTextColor;

$nextStepsModalCloseButtonBg: $primary;
$nextStepsModalCloseButtonBgHover: $secondary;

$nextStepsModalDownloadButtonBg: $secondary;
$nextStepsModalDownloadButtonTextColor: white;
$nextStepsModalDownloadButtonBorderColorOnHover: black;

$nextStepsModalFooterButtonBg: black;
$nextStepsModalFooterButtonTextColor: $secondary;

$codeBg: black;
$codeTextColor: white;

// Extensions picker
$extensionsPickerTextColor: $mainContainerTextColor;
$extensionsPickerCheckColor: $mainContainerTextColor;
$extensionsPickerCheckSelectedHoverColor: $mainContainerTextColor;
$extensionsPickerCheckSelectedColor: #0F69C9;
$extensionsPickerCheckSelectedByDefaultColor: $readonlyLabelAndBorderColor;
$extensionsPickerKeyboardActivedTextColor: #0F69C9;
$extensionsPickerRemoveButtonColor: $warningColor;

$extensionsPickerDescriptionTextColorOnTablet: #ccc;

$extensionsPickerMoreDropdownBg: $backgroundSecondary;
$extensionsPickerMoreDropdownTextColor: black;

$extensionsPickerCategoryTextColor: $mainContainerTextColor;
$extensionsPickerCategoryUnderlineColor: #dcdcdc;

$extensionsPickerSearchTextColor: $mainContainerTextColor;
$extensionsPickerSearchBorderColor: #dcdcdc;
$extensionsPickerSearchBorderColorOnFocus: $secondary;
$extensionsPickerSearchClearColor: $warningColor;

$extensionsPickerFlagDefaultColor: $readonlyLabelAndBorderColor;
$extensionsPickerFlagPreviewColor: $secondary;
$extensionsPickerFlagExperimentalColor: $warningColor;

// Header
$headerBackgroundColor: #1A1A1A;
$headerBackgroundImage: none;
$headerTextColor: white;

$headerMenuLinkTextColor: $quarkusBlue;

$headerMenuStartCodingButtonTextColor: white;
$headerMenuStartCodingButtonBorderColor: $secondary;
$headerMenuStartCodingButtonBg: $secondary;

// Blurb
$blurbBg: $backgroundSecondary;
$blurbTextColor: black;
$blurbLinkTextColor: $linkTextColor;
$blurbInfoIconColor: $primary;